/* DEBUG */




/* RESET */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Merriweather Sans', sans-serif;
}

/* GENERAL */

body{
    background-color: #F6F8F9;
}

ul{
    list-style: none;
}

/* HEADER */

.page-header{
    background-color: white;
    height: 120px;
    padding-left: 20px;
}

.logo-img{
    height: 90px;
    vertical-align: middle;
}

.page-title{
    display: inline-block;
    font-size: 4rem;
    line-height: 120px;
    vertical-align: middle;
}

/* MAIN */

.main-container{
    width: 75%;
    margin: 70px auto 0 auto;
    background-color: white;
    border: 0 solid white;
    border-radius: 10px;
}

.card-container{
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 50px;
    border-bottom: 2px solid #F6F8F9;
    color: #434750;
}

/* CARD HEADER*/


.card-header-button{
    color: #CFD4D8;
    display: inline-block;
    border: 2px solid #CFD4D8;
    border-radius: 5px;
    vertical-align: middle;
    padding: 10px;
    font-size: 1.2rem;
}

.card-header-button:hover{
    color:white;
    border-color: #47ADF1;
    background-color: #47ADF1;
    cursor: pointer;

}

/* CARD CONTENT */

.task-title::before{
    content: "▾ ";
}

.task-title{
    margin-top: 30px;
    font-size: 1.9rem;
}

li{
    line-height: 25px;
    margin-top: 10px;
    font-size: 1.2rem;
}

.check{
    border-width: 1px;
    border-style: solid;
    border-radius: 50%;
    display: inline-block;
    width: 25px;
    height: 25px;
    vertical-align: middle;
    text-align: center;
}

.tick{
    color: green;
    border-color: green;
}

.cross{
    color: red;
    border-color: red;
}

.task-description{
    vertical-align: middle;
}

.badge {
    border-width: 0;
    border-style: solid;
    border-radius: 20px;
    color: white;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    font-size: 0.8rem;
    padding: 5px 7px;
    font-weight: 600;
}

.education{
    border-color: #45ABEA;
    background-color: #45ABEA;
}

.coding{
    border-color: #9C72E4;
    background-color: #9C72E4;
}

.recruting{
    border-color: #64C0A9;
    background-color: #64C0A9;
}

.mobile{
    border-color: #F29E33;
    background-color: #F29E33;
}

.website{
    border-color: #D863A1;
    background-color: #D863A1;
}

.sales{
    border-color: #B0C926;
    background-color: #B0C926;
}

